<div class="centered-container">
  <h2>Book a space</h2>
</div>

<div class="centered-container">
  <form action="/spaces/new">
    <input type="submit" value="List a Space" id="List a Space" />
  </form>
</div>

<div class="property-container">
  <ul>
    <% @properties.each do |property| %>
      <div class="property">
        <li class="listing">
        <%= property.name %><br>
        <%= property.description %><br>
        £<%= property.price %>
        <%= User.find(id: property.user_id).email %>
        availability from:<%= property.availability_start%>
        until:<%= property.availability_end%>
        <form action="/spaces/<%= property.id %>">
          <input type="submit" value="Request to book">
        </form>
        </li>
      </div>
    <% end %>
  </ul>
</div>