<h2>Book a space</h2>

<form action="/spaces/new">
  <input type="submit" value="List a Space" id="List a Space" />
</form>

<ul>
  <% @properties.each do |property| %>
    <li class="listing">
    <%= property.name %><br>
    <%= property.description %><br>
    £<%= property.price %>
    <%= User.find(id: property.user_id).email %>
    <form action="/spaces/<%= property.id %>">
      <input type="submit" value="Request to book">
    </form>
    </li>
  <% end %>
</ul>